* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.color-blue {
  color: #2196f3;
}
.color-gray {
  color: #757575;
}
/* ---------------------NAV START------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  align-items: center;
}
nav a {
  color: #212121;
}
.nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-left ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.nav-left h1 {
  font-family: "Raleway", sans-serif !important;
  font-size: 33px;
  padding: 0 110px;
  font-weight: 700;
  color: #000;
}
.nav-left li {
  position: relative;
}
.nav-left li::after {
  content: "";
  width: 0%;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  top: 200%;
  left: 0%;
  transform: rotate(180deg);
}
.nav-left li:hover::after {
  width: 100%;
  transition: 0.3s;
}
nav a:hover {
  color: #2196f3;
}
.nav-right {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  justify-content: center;
}
.nav-right .bars {
  display: none;
}
.nav-right ul {
  display: flex;
  align-items: center;
}
.nav-right li {
  padding-left: 30px;
}
/* ---------------NAV END--------------- */
/* ---------------MAIN START ------------------*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/main.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  flex-direction: column;
}
main h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  line-height: 150%;
}
main button {
  border: none;
  outline: none;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 10;
  color: #fff;
  transition: 0.2s;
  font-size: 16px;
  cursor: pointer;
}
main button:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 5px 1px #56adf4;
  transition: 0.2s;
}
main button:active {
  transform: translateY(1px);
  box-shadow: none;
  transition: 0.2s;
}
/* --------------------------MAIN END------------------------- */

/* --------------------------SECTION START--------------------- */
.descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18rem;
  cursor: default;
  margin-bottom: 30px;
}
.descriptions img {
  width: 14rem;
  margin-bottom: 1rem;
}
.descriptions p {
  color: #757575;
  max-width: 230px;
  min-width: 200px;
}
.description1,
.description2,
.description3,
.description4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}
.descriptions h1 {
  text-wrap: nowrap;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}
/* DESCRIPTIONS END */

.our-works {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-works h1 {
  font-size: 34px;
  color: #212121;
  letter-spacing: 1.08px;
  font-weight: 700;
}
.our-works-images img {
  width: 300px;
  height: 290px;
}
.img1,
.img2,
.img3 {
  height: 292px;
  position: relative;
  overflow: hidden;
  flex-shrink: 100;
}
.our-works-images h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  gap: 30px;
}
.img1:hover .gray-container1 {
  transform: translateY(-70px);
  transition: 0.5s;
}
.img2:hover .gray-container2 {
  transform: translateY(-70px);
  transition: 0.5s;
}
.img3:hover .gray-container3 {
  transform: translateY(-70px);
  transition: 0.5s;
}
.gray-container1,
.gray-container2,
.gray-container3 {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.our-works-images {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  justify-content: space-between;
}
/* ------------------------------------- */
.our-group {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-group h1 {
  color: #212121;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

/*  TEAM CARD START */
.section2 {
  width: 100%;
  background: #f5f4fa;
}
.team-cards {
  display: flex;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  justify-content: space-between;
}
.team-card img {
  width: 230px;
}
.team-card {
  width: 230px;
  height: 370px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-card h6 {
  text-align: center;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.48px;
  text-wrap: nowrap;
  margin-top: 30px;
}
.team-card p {
  margin-top: 10px;
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.team-cards .fa-circle {
  display: flex;
  font-size: 40px;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fa-circle .fa-brands {
  font-size: 20px;
  position: absolute;
  color: #afb1b8;
  transition: 0.1s;
}
.team-card1-icons,
.team-card2-icons,
.team-card3-icons,
.team-card4-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.team-cards a:hover .fa-circle {
  color: #2196f3;
  transition: 0.1s;
}
.team-cards a:hover .fa-brands {
  transition: 0.1s;
  color: #fff;
}
/*  TEAM CARD END ----------------------------- */

.clients {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
}
.clients-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #212121;
}
.client img {
  filter: brightness(0) saturate(100%) invert(74%) sepia(6%) saturate(238%)
    hue-rotate(189deg) brightness(96%) contrast(87%);
}
.client {
  width: 150px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client:hover {
  filter: brightness(0) saturate(100%) invert(43%) sepia(84%) saturate(1991%)
    hue-rotate(186deg) brightness(102%) contrast(91%);
}
/* CLIENT ENDED */

/* -------------------------FOOTER START ------------------------ */
footer {
  background: #2f303a;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
}
.footer-left {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  padding: 50px 100px;
}
.footer-left h1 a {
  padding: 0px 20px 0px 20px;
  text-indent: -20px;
  font-family: Raleway;
  color: #fff;
}
.footer-left p {
  color: rgba(255, 255, 255, 0.6);
  text-wrap: nowrap;
}
.footer-left h4 {
  color: #fff;
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: 400;
}
.footer-left * {
  margin-bottom: 10px;
}
.footer-center {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-center h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-align: center;
}
.footer-center a:hover .fa-circle {
  color: #2196f3;
  transition: 0.1s;
}
.footer-center a:hover .fa-brands {
  transition: 0.1s;
  color: #fff;
}
.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}
.footer-circle {
  color:rgba(255, 255, 255, 0.1);
  font-size: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-center .fa-brands {
  position: absolute;
  color: #fff;
}
.footer-right {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-right h2 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer-input {
  gap: 10px;
}
.email-input {
  padding: 15px 30px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}
.email-input:focus {
  outline: none;
  color: #fff;
}
.sub-btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  border: none;
  color: #fff;
  padding: 15px 30px;
  padding-right: 50px;
  background-image: url('../icons/icon\ send.svg');
  background-repeat: no-repeat;
  background-position: 120px center;
  box-shadow: 0px 3px 1px 1px #0c3d65;
  cursor: pointer;
}
.sub-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}


